@model DataModels.AddressDataModels
@{
    ViewBag.Title = "DeliveryAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .imp {
        color: red;
    }

    #state {
        font-family: 'Poppins', sans-serif !important;
    }

    #city {
        font-family: 'Poppins', sans-serif !important;
    }

    .checkout-form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @@media (min-width: 1200px) {
        .checkout-form {
            max-width: 1140px;
        }
    }

    @@media (max-width: 500px) {
        span {
            font-size: 1.9vh !important;
        }
    }

    @@media (max-width: 320px) {
        .checkout-form .box-box {
            padding: 0 !important;
        }
    }



    label #state {
        background: white;
        border: none;
        border-radius: 0;
        font-family: livvic;
        width: 84%;
    }

    .checkout-form .box-box {
        display: flex;
        flex-direction: row;
        background: #ffffff70;
        border-radius: 0 0 5px 5px;
        border: 2px solid var(--dark);
        padding: 25px;
    }

    .checkout-form form {
        flex: 4;
    }

    .checkout-form .Yorder {
        flex: 2;
    }

    .checkout-form .title {
        border-radius: 5px 5px 0 0;
        padding: 20px;
        color: #f6f6f6;
        background: var(--dark);
        margin: 6rem 0 0;
    }

    .checkout-form h2 {
        margin: 0;
        padding-left: 15px;
    }

    .checkout-form .required {
        color: var(--primary);
    }

    .checkout-form label, table {
        display: block;
        margin: 3px 15px;
    }

        .checkout-form label > span {
            float: left;
            width: 90%;
            margin-top: 17px;
            padding-right: 10px;
            color: var(--dark);
        }

    input[type="text"], input[type="tel"], input[type="email"], select {
        width: 100%;
        height: 36px;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: 1px solid var(--primary);
        color: var(--primary);
        letter-spacing: 1px;
        background-color: #ffffff70;
    }

    .checkout-form select {
        width: 85%;
        height: 45px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .Yorder h2 {
        padding: 5px 0px;
        font-size: 3vh !important;
        color:var(--dark);
    }

    .checkout-form .Yorder {
        margin-top: 15px;
        padding: 20px;
        border: 1px solid var(--dark);
        color:var(--dark);
    }

    .checkout-form table {
        margin: 0;
        padding: 0;
    }

    .checkout-form th {
        border-bottom: 1px solid #dadada;
        padding: 10px 0;
    }

    .checkout-form tr > td:nth-child(1) {
        text-align: left;
        color: #2d2d2a;
    }

    .checkout-formtr > td:nth-child(2) {
        text-align: right;
        color: #52ad9c;
    }

    .checkout-form td {
        border-bottom: 1px solid #dadada;
        padding: 25px 25px 25px 0;
    }

    .checkout-form p {
        display: block;
        color: #888;
        margin: 0;
        padding-left: 25px;
    }

    .checkout-form .Yorder > div {
        padding: 8px 0;
    }

    .checkout-form button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        transition: all 0.4s;
    }

        .checkout-form button:hover {
            cursor: pointer;
            background: #99aa6c;
        }

    #addaddress a {
        text-decoration: underline;
        font-size: 14px;
        color: var(--text);
    }

    #addaddress {
        text-align: right;
    }

    .addchk {
        text-align: center !important;
        place-self: center !important;
    }

    .addchklabel label {
        margin: 3px 0px !important;
    }

    .checkout-bg {
        padding-top: 1px;
        background-image: url(../../Content/Images/ch-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
        padding-bottom: 125px;
    }
</style>


<div class="checkout-bg">
    <div class="checkout-form ">
        <div class="title row">
            <div class="col-lg-6"><h2>Review Your Order</h2></div>

        </div>
        @if (Model.UserId > 0)
        {
            <div class="d-flex box-box">
                @using (Html.BeginForm("Address", "Checkout", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="UserId" value="@Model.UserId" hidden required>
                    <div class="row">
                        <div class="col-lg-7">
                            <label>
                                <span class="fname">Recievers Name <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="Name" value="@Model.Name" required>
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Recievers Phone <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="tel" min="10" max="10" id="MobileNumber" name="MobileNumber" value="@Model.MobileNumber">
                                @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Email Address<small style="font-style:italic">(for delivery updates)</small> <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="email" name="Email" value="@Model.Email">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger mt-1" })
                            </label>
                            <hr>
                            <h5 style="color:var(--dark);">Recievers Address:</h5>
                            <label>
                                <span class="fname">Flat, House no., Building, Company, Apartment<span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="HouseNo" value="@Model.HouseNo" required>
                                @Html.ValidationMessageFor(m => m.HouseNo, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Area, Colony, Street, Sector, Village<span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="Street" value="@Model.Street" placeholder="" required>
                                @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Landmark <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="LandMark" value="@Model.LandMark" required>
                                @Html.ValidationMessageFor(m => m.LandMark, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Postcode / ZIP <span class="required">*</span></span>
                                <br />
                                <span class="shipmentError text-danger" style="font-size: 13px;"></span>
                                <input type="text" name="Pincode" id="Pincode" value="@Model.Pincode" placeholder="6 Digits [0-9] Pin Code" required>
                                @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger mt-1" })

                            </label>
                            <label>
                                <span class="fname">City <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" id="City" name="City" value="@Model.City" required>
                                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger mt-1" })
                            </label>
                            <label>
                                <span class="fname">Country <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="Country" value="India" readonly required style="cursor:none;">
                            </label>
                            <label>
                                <span class="fname">State <span class="required">*</span></span>
                                <br />
                                <br />
                                <input type="text" name="State" value="@Model.State" id="State" readonly required style="cursor:none;">
                                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger mt-1" })
                            </label>
                        </div>
                        <div class="col-lg-5">
                            <div class="Yorder">
                                <h2 class="yorder-font">Order Summary</h2>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-6">Items : <span style="color:green;"> @Model.ItemCount</span></div>
                                    <div class="col-lg-6"> Rs. <span class="productamount">@Model.TotalAmount.ToString("f")</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">Delivery:</div>
                                    <div class="col-lg-6">Rs. <span class="deliveryamount">0</span></div>
                                    <input name="DeliveryCharges" value="" id="DeliveryAmount" readonly hidden>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">Order Total:</div>
                                    <div class="col-lg-6">Rs. <span class="totalamount"></span></div>
                                    <input name="TotalAmount" id="totalamount" readonly hidden/>
                                </div><br>
                                <h2 class="yorder-font">Payment Method</h2>
                                <div>
                                    <label id="PaymentMethod-error" class="error" for="PaymentMethod"></label>
                                    <input type="radio" name="PaymentType" value="0"> Cash on Delivery
                                </div>
                                <div>
                                    <input type="radio" name="PaymentType" value="1" checked> Online Payment
                                    <span></span>
                                </div>
                                <div class="form-check d-flex">
                                    <input id="DefaultAddress" name="DefaultAddress" class="" type="checkbox" value="false">
                                    <label style="margin:0" class="pl-1" for="DefaultAddress">
                                        Save address as default.
                                    </label>
                                </div>

                            </div><!-- Yorder -->
                            <button class="btn light-btn" type="submit" id="orderplace">Place Order</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>

    $(document).ready(function () {
        Amount("0");

        var pin = $("#Pincode").val();
        if (pin.length == 6) {
            $.ajax({
                url: "https://api.postalpincode.in/pincode/" + pin,
                cache: false,
                dataType: "json",
                type: "GET",
                success: function (result, success) {
                    var datas = result[0];
                    if (datas.PostOffice == null) {
                        $(".shipmentError").html("* This is not valid pin code.");
                        $("#Pincode").val("");
                        $("#City").val("");
                        $("#State").val("");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/Checkout/CheckShipment",
                            data: {
                                City: datas.PostOffice[0].District,
                                State: datas.PostOffice[0].State,
                                Division: datas.PostOffice[0].Division,
                                Region: datas.PostOffice[0].Region,
                                pincode: $("#Pincode").val(),
                            },
                            success: function (response) {
                                if (response.Result == "true") {
                                    debugger
                                    $("#City").val(datas.PostOffice[0].District);
                                    $("#State").val(datas.PostOffice[0].State);
                                    distance(pin);
                                    var delamtt = $("#DeliveryAmount").val();
                                    Amount(delamtt);
                                }
                                else {
                                    $(".shipmentError").html("* Sorry! Shipment is not available in this pin code.");
                                    $("#Pincode").val("");
                                    $("#City").val("");
                                    $("#State").val("");
                                }
                            }
                        });
                    }
                }
            });
        }
    });

    $("input[name=PaymentType]").change(function () {
        if ($('#DefaultAddress').prop('checked')) {
            $('#DefaultAddress').val("true");
        } else {
            $('#DefaultAddress').val("false");
        }
    });


    function Amount(amount) {
        $(".deliveryamount").html(amount + ".00");
        $("#DeliveryAmount").val(amount);

        var productamount = $(".productamount").html();
        if (amount.length > 0) {
            var total = parseInt(productamount) + parseInt(amount);
            $(".totalamount").html(total.toFixed(2));
            $("#totalamount").val(total.toFixed(2));
        }
        else {
            $(".totalamount").html(productamount);
            $("#totalamount").val(productamount);
        }
    }
    //$('#chkoutform').validate({
    //    rules: {
    //        'Email': {
    //            required: true,
    //            email: true
    //        },
    //        'Name': {
    //            required: true,
    //            minlength: 4
    //        },
    //        'MobileNumber': {
    //            required: true,
    //            minlength: 10,
    //            maxlength: 10
    //        },
    //        'HouseNo': {
    //            required: true,
    //            minlength: 5
    //        },
    //        'Street': {
    //            required: true,
    //            minlength: 4
    //        },
    //        'Landmark': {
    //            required: true,
    //            minlength: 4
    //        },
    //        'Pincode': {
    //            required: true,
    //            minlength: 6,
    //            maxlength: 6
    //        },
    //        'City': {
    //            required: true,
    //            minlength: 3
    //        },
    //        'State': {
    //            required: true,
    //        },
    //        'PaymentType': {
    //            required: true,
    //        }
    //    },
    //    messages: {
    //        'Email': '* Please enter valid email address',
    //        'Name': '* Please enter Your FullName',
    //        'MobileNumber': {
    //            required: '* Please provide a password',
    //            minlength: '* Please enter valid Contact Number',
    //            maxlength: '* Please enter valid Contact Number'
    //        },

    //        'HouseNo': '* Please enter Your House No ,Flat No',
    //        'Street': '* Please enter Street Name',
    //        'Landmark': '* Please enter Landmark',
    //        'Pincode': {
    //            required: '* Please enter valid Pincode',
    //            minlength: '* Please enter valid Pincode',
    //            maxlength: '* Please enter valid Pincode'
    //        },
    //        'City': '* Please enter City',
    //        'State': '* Please select State',
    //        'PaymentType': '* Please Select Payment Method',
    //    }
    //});
    //$("#orderplace").click(function (e) {
    //    e.preventDefault();
    //    $("#orderplace").prop('disabled', true);
    //    if ($("#chkoutform").valid()) {
    //        if ($('#DefaultAddress').prop('checked')) {
    //            $('#DefaultAddress').val("true");
    //        } else {
    //            $('#DefaultAddress').val("false");
    //        }
    //        var value1 = "1";
    //        if (value1 == "1") {
    //            $.ajax({
    //                url: "/Checkout/SaveOnlinePaymentOrder",
    //                data: $("#chkoutform").serialize(),
    //                success: function (result) {
    //                    window.location.href = "/Thankyou?OrderId=" + result;
    //                }
    //            });
    //        }
    //        else {
    //            $.ajax({
    //                type: "POST",
    //                url: "/Checkout/Address",
    //                data: $("#chkoutform").serialize(),
    //                success: function (result) {
    //                    window.location.href = "/Thankyou?OrderId=" + result;
    //                }
    //            });
    //        }
    //    }
    //    $("#orderplace").prop('disabled', false);
    //});
    function distance(zipcode) {
        var api = "https://nominatim.openstreetmap.org/search?postalcode=" + zipcode + "&format=json";
        $.ajax({
            url: api,
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    if (result[i].display_name.indexOf("India") != -1) {
                        var Lat = result[i].lat;
                        var Lon = result[i].lon;
                        $.ajax({
                            type: "POST",
                            url: "/Checkout/ShipmentCharge",
                            data: {
                                lat: Lat,
                                lon: Lon
                            },
                            success: function (response) {
                                debugger
                                $("#DeliveryAmount").val(response);
                                $(".deliveryamount").html(response + ".00");
                                var delamtt = $("#DeliveryAmount").val();
                                Amount(delamtt);
                            }
                        });
                    }
                }
            }
        });
    }


    let keyupTimer;
    $("#Pincode").keydown(function () {
        $(".shipmentError").html("");
        clearTimeout(keyupTimer);
        keyupTimer = setTimeout(function () {
            var el = $("#Pincode").val();
            if (el.length === 0) {
                $(".shipmentError").html("* Zip Code is required");
            }
            else {
                if (el.length === 6) {
                   
                    $.ajax({
                        url: "https://api.postalpincode.in/pincode/" + el,
                        cache: false,
                        dataType: "json",
                        type: "GET",
                        success: function (result, success) {
                            var datas = result[0];
                            if (datas.PostOffice == null) {
                                $(".shipmentError").html("* This is not valid pin code.");
                                $("#Pincode").val("");
                                $("#City").val("");
                                $("#State").val("");
                            }
                            else {
                                $.ajax({
                                    type: "POST",
                                    url: "/Checkout/CheckShipment",
                                    data: {
                                        City: datas.PostOffice[0].District,
                                        State: datas.PostOffice[0].State,
                                        Division: datas.PostOffice[0].Division,
                                        Region: datas.PostOffice[0].Region,
                                        pincode: $("#Pincode").val(),
                                    },
                                    success: function (response) {
                                        if (response.Result == "true") {
                                            $("#City").val(datas.PostOffice[0].District);
                                            $("#State").val(datas.PostOffice[0].State);
                                            distance(el);
                                            var delamtt = $("#DeliveryAmount").val();
                                            Amount(delamtt);
                                        }
                                        else {
                                            $(".shipmentError").html("* Sorry! Shipment is not available in this pin code.");
                                            $("#Pincode").val("");
                                            $("#City").val("");
                                            $("#State").val("");
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
                else {
                    $(".shipmentError").html("* Please enter a valid Zip Code");
                }
            }
        }, 900);
    });
</script>
